body {
    margin: 2rem;
    padding: 2rem;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 50% 25%;
}

main, aside {
    padding: 1rem;
    margin: 1rem;
    background-color: #eeeeee;
}


.job-submission-form {
    padding: 1rem;
    border: 1px dotted lightblue;
    background-color: white;

    display: grid;
    grid-template-columns: auto;
}

    .job-submission-form__fieldset {
        padding: 0.5rem;
 
        display: grid;
        grid-template-columns: auto;
    }

    .job-submission-form__label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .job-submission-form__input {
        margin-bottom: 1rem;
    }

    .job-submission-form__button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }