.page {
	background-color: #dfdfdf;
	
}
.page-list-jobs, .page-list-files, .page-create-job {
	padding: 2rem;
}
.list-jobs__table {
	background-color: hsl(0, 0%, 97%);
	border-top: 6px solid #51247a;
	margin: auto;
	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
	max-width: 50rem;
	padding-bottom: 2rem;
}

.hero-banner--background-image {
	background-image: url('/images/cabinet-data-data-center-325229.jpg');
}

.job-running {
	border-left: 6px solid #82c91e;
}

.job-queued {
	border-left: 6px solid #db2b39;	
}