body {
    margin: 2rem;
    padding: 2rem;
    background-color: lightgray;

    /*display: grid;
    grid-template-columns: 50% 25%;*/
}

main {
    padding: 1rem;
    margin: 1rem;
    background-color: #eeeeee;
}

aside {
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
    width: 32rem;
}

output {
    border: 1px dotted darkblue;
    background-color: lightcyan;
    height: 100px;
    margin: 1rem 0;
    padding: 1rem;
}


.job-submission-form {
    padding: 1rem;
    border: 1px dotted lightblue;
    background-color: white;
    width: 32rem;

    display: grid;
    grid-template-columns: auto;
}

    .job-submission-form__fieldset {
        padding: 0.5rem;
 
        display: grid;
        grid-template-columns: auto;
    }

    .job-submission-form__label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .job-submission-form__input {
        margin-bottom: 1rem;
    }

    .job-submission-form__button {
        width: 8rem;
        height: 2rem;
    }
