/****************
== UQ Styles ==
*****************/

/****************
== Base Styles ==
*****************/
html, body {
    font-size: 16px;
    margin: 0;
}
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
h1 {
    font-size: 3.2rem;
}

/**************************
== Header and Navigation ==
***************************/
.global-header {
    background-color: #51247A;
    color: #ccc;
    padding: 1rem;
}

.gloabl-navigation {

}
    .global-navigation__menu {
        list-style: none;
        display: flex;
    }
        .global-navigation__menu__list-item {
            margin: 0.5rem;
        }

/***********************
== Application Styles ==
************************/
main {
    padding: 1rem;
    margin: 1rem;
    background-color: #eeeeee;
}

.job-submission-form {
    padding: 1rem;
    border: 1px dotted lightblue;
    background-color: white;
    max-width: 32rem;

    display: grid;
    grid-template-columns: auto;
}
    .job-submission-form__label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .job-submission-form__input {
        margin-bottom: 1rem;
    }
    .job-submission-form__button {
        width: 8rem;
        height: 2rem;
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #fff;
        background-color: #4bb543;

        font-style: bold;
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
    }