<!DOCTYPE html>
<html lang="en" dir="ltr" id="createJobView">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/favicon.ico">
	<title>Create new job | High Performance Computing Portal, Research Computing Centre - The University of Queensland, Australia</title>
	<link rel="stylesheet" href="https://static.uq.net.au/v1/fonts/Roboto/roboto.css" media="all" />
	<link rel="stylesheet" href="styles.css" />
	<link rel="stylesheet" href="CreateJobFormStyles.css" />
	<style media="all">
		@import url("https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/css/styles.css?olt1wp");
	</style>
	<style media="print">
		@import url("https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/css/print.css?olt1wp");
	</style>

</head>
<body class="page-create-job">

	<nav class="skip-link">
		<a href="#main-menu" class="element-invisible element-focusable">Skip to menu</a>
		<a href="#main-content" class="element-invisible element-focusable">Skip to content</a>
		<a href="#site-footer" class="element-invisible element-focusable">Skip to footer</a>
	</nav>
	
	<header class="site-header">
		<uq-global-menu></uq-global-menu>
		<hpc-header></hpc-header>
	</header>

	<nav class="navigation">
		<hpc-navigation></hpc-navigation>
	</nav>

	<main class="page create__new__job__page">
		<div class="page__content">
			<!-- application add here START -->
			<div class="hero-banner--dark-tint light-palette hero-banner hero-banner--background-image" style="background-image:url('images/bg3.jpg')">
				<div class="hero-banner__container">
				  <div class="hero-banner__content">
					<h1 class="hero-banner__title">Create new job</h1>
				  </div>
				</div>
			</div> 
			<div class="section__container form__container">
				<form 
					class="job-submission-form"
					id="jobSubmissionForm"
					name="jobSubmissionForm"
					enctype="multipart/form-data"
					method="POST">
						<h3 class="job-submission-form__heading">Create new job</h3>
						<p class="job-submission-form__description">Enter your job details</p>
						<fieldset class="job-submission-form__fieldset" id="jobSubmissionPage1">
							<label class="job-submission-form__label" for="jobName">Job name (required):</label>
							<input
								class="job-submission-form__input"
								id="jobName"
								name="jobName"
								type="text"
								value="" 
								v-model="form.jobName"
								required>

							<label class="job-submission-form__label" for="accountGroups" >Account group (required):</label>
							<select
								class="job-submission-form__input"
								id="accountGroups"
								name="accountGroups"
								v-model="form.selectedAccountGroup"
								required>
								<option value="" selected disabled>Select a group</option>
								<option v-for="accountGroup in form.accountGroups" :value="accountGroup">
									{{accountGroup}}
								</option>
							</select>
					
							<label class="job-submission-form__label" for="walltime">Walltime (hours) (required):</label>
							<input class="job-submission-form__input" id="walltime" name="walltime" type="number" value="1" min="1" required>
					
							<label class="job-submission-form__label" for="select">Select (required):</label>
							<input class="job-submission-form__input" id="select" name="select" type="number" value="1" required>
					
							<label for="ncpus" class="job-submission-form__label">Number of CPUS (required):</label>
							<input class="job-submission-form__input" id="ncpus" name="ncpus" type="number" value="1" min="1" max="24" required >
					
							<label class="job-submission-form__label" for="memory">Memory (GB) (required): </label>
							<input class="job-submission-form__input" id="memory" name="memory" type="number" value="1" min="1" required>
					
							<label class="job-submission-form__label" for="payload">Payload (required): </label>
							<textarea class="job-submission-form__input" id="payload" name="payload" cols="40" rows="10" placeholder="echo $HOSTNAME" required></textarea>
						</fieldset>

						<fieldset class="#job-submission-form__fieldset" id="jobSubmissionPageReview">
							<output>
								<p class="code__line">#!/bin/bash</p>
								<p class="code__line ">#</p>
								<p class="code__line">#PBS -A {group}</p>
								<p class="code__line">#</p>
								<p class="code__line">#PBS -l select={select}:ncpus={ncpus}:mem={memory}</p>
								<p class="code__line">#PBS -l walltime={walltime}</p>
								<p class="code__line">#PBS -N {JobName}</p>
								<p class="code__line">#</p>
								<p class="code__line">{payload}</p>	
							</output>	
						</fieldset>

						<button class="job-submission-form__button button--secondary" id="prevSectionJobForm" type="submit">Previous</button>
						<button class="job-submission-form__button button--secondary" id="nextSectionJobForm" type="submit">Next</button>
						<button class="job-submission-form__button" id="submitJobForm" type="submit">Submit job</button>
				</form>
			</div>
		</div>
	</main>

	<footer id="siteFooter" class="site-footer">
		<hpc-footer></hpc-footer>
	</footer>

<!-- production version, optimized for size and speed -->
<script src="../vue.js"></script>
<script type="module" src="../ViewModels/BaseViewModel.js"></script>
<script type="module" src="../ViewModels/CreateJobViewModel.js"></script>
<!-- End VUE -->

<script src="../login/login.js"></script>
<script src="../logout/logout.js"></script>
</body>
</html>