<!DOCTYPE html>
<html lang="en" dir="ltr" id="createJobView">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/favicon.ico">
	<title>Create new job | High Performance Computing Portal, Research Computing Centre - The University of Queensland, Australia</title>

	<link rel="stylesheet" href="https://static.uq.net.au/v1/fonts/Roboto/roboto.css" media="all" />
	<link rel="stylesheet" href="CreateJobFormStyles.css" />
	<style media="all">
		@import url("https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/css/styles.css?olt1wp");
	</style>
	<style media="print">
		@import url("https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/css/print.css?olt1wp");
	</style>

	<link rel="stylesheet" href="../style.css" media="all" />
	<script defer src="../fontawesome/js/all.js"></script>
</head>
<body>

	<nav class="skip-link">
		<a href="#main-menu" class="element-invisible element-focusable">Skip to menu</a>
		<a href="#main-content" class="element-invisible element-focusable">Skip to content</a>
		<a href="#site-footer" class="element-invisible element-focusable">Skip to footer</a>
	</nav>
	
	<header class="site-header">
		<uq-global-menu></uq-global-menu>
		<hpc-header></hpc-header>
	</header>
	
	<nav class="navigation">
		<hpc-navigation></hpc-navigation>
	</nav>
	
	<main class="page page-create-job">
		<div class="page__content">
			<div class="section__container form__container">
				<form 
				class="job-submission-form"
				id="jobSubmissionForm"
				name="jobSubmissionForm"
				v-on:submit.prevent="onSubmit">

					<header v-if="!submitted" class="job-submission-form__header">
						<h1 class="job-submission-form__heading">Create and submit a new HPC job</h1>
						<p class="job-submission-form__description">Enter your job details to create your pbs script and then hit submit!</p>
					</header>
				
					<transition name="slide-fade"></transition>
						<fieldset v-if="!submitted" class="job-submission-form__fieldset" id="jobDataManagement">
							<legend class="job-submission-form__fieldset__legend">Data management</legend class="job-submission-form__fieldset__legend">
							
							<label class="job-submission-form__label" for="jobName">Job name:</label>
							<input
								class="job-submission-form__input"
								id="jobName"
								name="jobName"
								type="text"
								value=""
								minlength="1"
								maxlength="15"
								v-model="form.jobName"
								pattern="[\w]+"
								title="Job name may only contain a-z, A-Z, 0-9, _."
								required>
							
							<label class="job-submission-form__label" for="workDirectory">Work directory:</label>
							<input
								class="job-submission-form__input"
								id="workDirectory"
								name="workDirectory"
								type="text"
								value="" 
								v-model="form.workDirectory"
								pattern="[\w/]+"
								title="Work directory may only contain a-z, A-Z, 0-9, _, /"
								required>

							<label class="job-submission-form__label" for="accountGroups" >Account group:</label>
							<select
								class="job-submission-form__input"
								id="accountGroups"
								name="accountGroups"
								v-model="form.selectedAccountGroup"
								required>
								<option value="" selected disabled>Select a group</option>
								<option v-for="accountGroup in form.accountGroups" :value="accountGroup">
									{{accountGroup}}
								</option>
							</select>
						</fieldset>
					</transition>
					
					<transition name="slide-fade">
						<fieldset v-if="!submitted" class="job-submission-form__fieldset" id="jobDetails">
						<legend class="job-submission-form__fieldset__legend">Job details</legend class="job-submission-form__fieldset__legend">

						<label class="job-submission-form__label" for="HPCClusters">HPC Cluster:</label>
						<select
							class="job-submission-form__input"
							id="HPCClusters"
							name="HPCClusters"
							v-model="form.selectedHPCCluster"
							required>
							<option value="" selected disabled>Select a HPC Cluster</option>
							<option v-for="HPCCluster in form.HPCClusters" :value="HPCCluster">
								{{ HPCCluster }}
							</option>
						</select>						
				
						<label class="job-submission-form__label" for="select">Select:</label>
						<input 
							class="job-submission-form__input"
							id="select"
							name="select"
							type="number"
							value=""
							v-model="form.select"
							disabled
							required>
				
						<label for="ncpus" class="job-submission-form__label">Number of CPUs:</label>
						<input 
							class="job-submission-form__input"
							id="ncpus"
							name="ncpus"
							type="number"
							value=""
							min="1"
							max="24"
							v-model="form.ncpus"
							required >
				
						<label class="job-submission-form__label" for="memory">Memory (GB): </label>
						<input
							class="job-submission-form__input"
							id="memory"
							name="memory"
							type="number"
							value=""
							min="1"
							max="500"
							v-model="form.memory"
							required>

						<label class="job-submission-form__label" for="walltime">Walltime (hours):</label>
						<input
							class="job-submission-form__input"
							id="walltime"
							name="walltime"
							type="number"
							value=""
							min="1"
							max="336"
							v-model="form.walltime"
							required>
						</fieldset>
					</transition>
					
					<transition name="slide-fade">
						<fieldset v-if="!submitted" class="job-submission-form__fieldset" id="jobPayload">
							<legend class="job-submission-form__fieldset__legend">Job payload</legend class="job-submission-form__fieldset__legend">
							<label class="job-submission-form__label" for="payload">Payload: </label>
							<textarea
								class="job-submission-form__input"
								id="payload"
								name="payload"
								cols="40"
								rows="10"
								placeholder="e.g. sleep 30m"
								v-model="form.payload"
								required></textarea>
						</fieldset>
					</transition>
					
					<transition name="slide-fade">
						<fieldset v-if="!submitted" class="job-submission-form__fieldset" id="review">
							<legend class="job-submission-form__fieldset__legend">Review</legend class="job-submission-form__fieldset__legend">
							<output class="job-submission-form__output">
								<fieldset class="job-submission-form__output__job-name">
									<legend>File name:</legend>
									<p v-if="form.jobName">{{ form.jobName }}.pbs</p>
								</fieldset>
								<fieldset class="job-submission-form__output__work-directory">
									<legend>Work directory:</legend>
									<p>{{ form.workDirectory }}</p>
								</fieldset>
								<fieldset class="job-submission-form__output__jobscript">
									<legend>Job script:</legend>
									#!/bin/bash
									#
									#PBS -A {{ form.selectedAccountGroup }}
									#
									#PBS -l select={{ form.select }}:ncpus={{ form.ncpus }}:mem={{ form.memory }}G
									#PBS -l walltime={{ form.walltime }}:00:00
									#PBS -N {{ form.jobName }}
									#
									{{ form.payload }}
								</fieldset>
							</output>
							<button class="job-submission-form__button" id="submitJobForm" type="submit"><span v-if="!submitting">Submit job</span><td><i v-if="submitting" class="fas fa-spinner fa-pulse"></i></td></button>	
						</fieldset>
					</transition>

					<transition name="slide-fade">
						<fieldset v-if="submitted" class="job-submission-form__fieldset job-submission-form__fieldset--success" id="jobSubmissionSuccess">
							<legend class="job-submission-form__fieldset__legend">Job Submission Successful</legend class="job-submission-form__fieldset__legend">
							<i class="fas fa-4x fa-check-circle"></i>
							<p class="job-submission-form__success-message">Your job "Job Name" was submitted successfully. What would you like to do next?</p>
							<button v-on:click="viewActiveJobs" class="job-submission-form__button" id="viewActiveJobs" type="button">View active jobs</button>
							<button v-on:click="submitNewJob" class="job-submission-form__button" id="submitNew" type="button">Submit a new job</button>
						</fieldset>
					</transition>

				</form>
			</div>
		</div>
	</main>

	<footer id="siteFooter" class="site-footer">
		<hpc-footer></hpc-footer>
	</footer>

<!-- <script src="../vue.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="module" src="../ViewModels/BaseViewModel.js"></script>
<script type="module" src="../ViewModels/CreateJobViewModel.js"></script>
<script type="module" src="../login/login.js"></script>
<script src="createJob.js"></script>
</body>
</html>