.create__new__job__page {
	background-color: #dfdfdf;
}

.job-submission-form {
	background-color: hsl(0, 0%, 97%);
	border-top: 6px solid #51247a;
	margin: 2rem auto;
	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
	max-width: 50rem;
}

.job-submission-form__header {
	background-color: white;
	padding: 2rem;
	margin-bottom: 2.5rem;
	max-width: 50rem;
}

.job-submission-form__footer {
	background-color: white;
	padding: 2rem 2rem 0 2rem;
	max-width: 50rem;
	text-align: right;
}

.job-submission-form__fieldset {
	background-color: hsl(0, 0%, 99%);
	margin: 0 2rem 2.5rem 2rem;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-top-style: solid;
	max-width: 50rem;
}

.job-submission-form__fieldset__legend {
	padding: 0.5rem;
	background-color: black;
	color: white;
}

.job-submission-form__fieldset:nth-of-type(1) {
	border-top: 6px solid #db2b39;
}

.job-submission-form__fieldset:nth-of-type(2) {
	border-top: 6px solid #f3a712;
}

.job-submission-form__fieldset:nth-of-type(3) {
	border-top: 6px solid #c200fb;
}

.job-submission-form__fieldset:nth-of-type(4) {
	border-top: 6px solid #ec0868;
}

textarea.job-submission-form__input {
	resize:vertical;
}

#jobScript output {
	max-width: 50rem;
}


/* Grids */
.job-submission-form__fieldset {
	display: grid;
	grid-template-columns: 50% 50%;
}

#jobDataManagement .job-submission-form__label,
#jobDataManagement .job-submission-form__input,
#jobPayload .job-submission-form__label,
#jobPayload .job-submission-form__input {
	grid-column: 1 / 2;
}

#jobDetails .job-submission-form__label,
#jobDetails .job-submission-form__input {
	grid-column: 1 / 2;
}

#jobPayload .job-submission-form__label,
#jobPayload .job-submission-form__input,
#jobScript .job-submission-form__label,
#jobScript .job-submission-form__input,
#jobScript output {
	grid-column: 1 / 3;
}