.create__new__job__page {
	background-color: #dfdfdf;
}

.job-submission-form {
	background-color: hsl(0, 0%, 97%);
	border-top: 6px solid #51247a;
	margin: 2rem auto;
	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
	max-width: 50rem;
	padding-bottom: 2rem;
}

.job-submission-form__header {
	background-color: white;
	padding: 2rem;
	max-width: 50rem;
}

.job-submission-form__fieldset {
	background-color: hsl(0, 0%, 99%);
	margin: 2.5rem 2rem 0 2rem;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-top-style: solid;
	max-width: 50rem;
}

.job-submission-form__fieldset__legend {
	padding: 0.5rem;
	background-color: black;
	color: white;
}

.job-submission-form__fieldset#jobDataManagement {
	border-top: 6px solid #db2b39;
}

.job-submission-form__fieldset#jobDetails {
	border-top: 6px solid #f3a712;
}

.job-submission-form__fieldset#jobPayload {
	border-top: 6px solid #c200fb;
}

.job-submission-form__fieldset#review {
	border-top: 6px solid #ec0868;
}

.job-submission-form__fieldset--success {
	border-top: 6px solid #82c91e;
}

.fa-check-circle {
	color: #82c91e;
	text-align: center;
}

textarea.job-submission-form__input {
	resize:vertical;
}

/* Grids */
.job-submission-form__fieldset {
	display: grid;
	grid-template-columns: 1rem auto auto 1rem;
}

#jobDataManagement .job-submission-form__label,
#jobDataManagement .job-submission-form__input,
#jobPayload .job-submission-form__label,
#jobPayload .job-submission-form__input {
	grid-column: 2 / 3;
}

#jobDetails .job-submission-form__label,
#jobDetails .job-submission-form__input {
	grid-column: 2 / 3;
}

#jobPayload .job-submission-form__input {
	grid-column: 2 / 4;
}

#review output {
	grid-column: 1 / 4;
}
#review #submitJobForm {
	grid-column: 1 / 4 ;
}

#jobSubmissionSuccess {
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

#jobSubmissionSuccess .job-submission-form__success-message,
#jobSubmissionSuccess .fa-check-circle {
	justify-self: center;
}



/* Validation */
.job-submission-form__input:focus:valid {
	border-left: 3px solid #82c91e;
}
.job-submission-form__input:focus:required:invalid {
	border-left: 3px solid #db2b39
}

/* Animation */
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
	transition: all 1s ease 1s;
}
.slide-fade-leave-active {
	transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateX(50px);
	opacity: 0;
}